<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>IPL | Team Info</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">

</head>
<body>

	<!--Nav bar start-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/dashboard">IPL Cricket App</a>
			<button class="navbar-toggler" type="button"
				data-mdb-toggle="collapse" data-mdb-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" href="./dashboard">View</a> <a class="nav-link"
						href="./addPlayer">Add Player</a> <a class="nav-link"
						href="./team">IPL Team Info</a>
				</div>
			</div>
	</nav>
	<br>
	<!--Nav bar end-->



	<div class="container">
		<h3 style="text-align: center" class="pb-1 pt-3">IPL Team Info</h3>

		<div class="container" id="filterResult"></div>
		<table class="table table-striped table-bordered table-hover w-100"
			id="enqTab">
			<thead class="table-dark">
				<tr>
					<th>No.</th>
					<th>Team Name</th>
					<th>Captain</th>
					<th>Owner Name</th>
					<th>Total Matches Played</th>
					<th>Total Matches Won</th>
				</tr>

			</thead>
			<tbody>
				<tr th:each="data : ${teamList}">
					<td th:text="${dataStat.index}+1"></td>
					<td th:text="${data.teamName}"></td>
					<td th:text="${data.captain}"></td>
					<td th:text="${data.OwnerName}"></td>
					<td th:text="${data.totalMatchesPlayed}"></td>
					<td th:text="${data.totalMatchesWon}"></td>

				</tr>
				<div th:if="${teamList==null or teamList.isEmpty()}">
					<tr>
						<td colspan="8" align="center" class="text-danger">No Records
							Found</td>
					</tr>
				</div>
			</tbody>
		</table>
	</div>
	<br>




	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>

	<footer class="bg-dark text-center text-white">
		<!-- Copyright -->
		<div class="text-center p-3"
			style="background-color: rgba(0, 0, 0, 0.2);">
			© 2023 Copyright: <a class="text-white" href="./">IPL.com</a>
		</div>
	</footer>

</body>

</html>